@model _6thOctober2022.Models.ProductModel

@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>search</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mfgdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mfgdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
